<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="src/main/java/com/littlebug.mapper.InterviewStateMapper">

    <resultMap id="BaseResultMap" type="src/main/java/com/littlebug.pojo.InterviewState">
            <id property="id" column="id" />
            <result property="interviewId" column="interview_id" />
            <result property="state" column="state" />
            <result property="createdAt" column="created_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,interview_id,state,created_at
    </sql>
</mapper>
