<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.littlebug.mapper.EvaluationMapper">

    <resultMap id="BaseResultMap" type="com.littlebug.pojo.Evaluation">
            <id property="id" column="id" />
            <result property="interviewId" column="interview_id" />
            <result property="contentScore" column="content_score" />
            <result property="expressionScore" column="expression_score" />
            <result property="professionalScore" column="professional_score" />
            <result property="comprehensiveScore" column="comprehensive_score" />
            <result property="feedback" column="feedback" />
            <result property="audioFeedbackUrl" column="audio_feedback_url" />
            <result property="evaluatorType" column="evaluator_type" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="evaluationMode" column="evaluation_mode" />
            <result property="evaluationVersion" column="evaluation_version" />
    </resultMap>

    <sql id="Base_Column_List">
        id,interview_id,content_score,expression_score,professional_score,comprehensive_score,
        feedback,audio_feedback_url,evaluator_type,create_time,update_time,
        evaluation_mode,evaluation_version
    </sql>
</mapper>
