<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.littlebug.mapper.DimensionScoreMapper">

    <resultMap id="BaseResultMap" type="com.littlebug.pojo.DimensionScore">
            <id property="id" column="id" />
            <result property="evaluationId" column="evaluation_id" />
            <result property="dimensionCode" column="dimension_code" />
            <result property="score" column="score" />
            <result property="subScoresJson" column="sub_scores_json" />
            <result property="feedback" column="feedback" />
    </resultMap>

    <sql id="Base_Column_List">
        id,evaluation_id,dimension_code,score,sub_scores_json,feedback
    </sql>
</mapper>
